.btn {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    width: fit-content;
}

.display-flex-image {
    display: flex;
    justify-content: center;
    align-content: center;
}