{% extends "base.html.twig" %}

{% block body %}
	<h2>modification de la categorie</h2>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="row">
		{{ form_row(form.name)}}
	</div>
	<button type="submit" class="btn btn-primary mt-2">
		<i class="fas fa-save"></i>&nbsp;
					Modifier la categorie
	</button>

	{{ form_end(form) }}
{% endblock %}
