<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('category_index')}}">Categorie</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('advert_index')}}">Advert</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('admin_user_index')}}">User</a>
					</li>
				{% endif %}
				{% if not is_granted('ROLE_USER') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login')}}">connexion</a>
					</li>
				{% endif %}
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
